USE_ADDR=n
USE_ARRAY=n
USE_CRYPT=n
USE_XTIME=n
USE_EVENT=n
USE_LIST=n
USE_HASH=n
USE_XLOG=n
USE_XMAP=n
USE_XSTR=n
USE_XTYPE=n
USE_XBUF=n
USE_XTOP=n
USE_XCLI=n
USE_ERREX=n
USE_HTTP=n
USE_SOCK=n
USE_SYNC=n
USE_XCPU=n
USE_XAES=n
USE_THREAD=n
USE_XJSON=n
USE_XFS=n
USE_XAPI=n
USE_MDTP=n
USE_NTP=n
USE_RTP=n
USE_TS=n