name: Full Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install dependencies
      run: sudo apt install -y libssl-dev

    - name: Install CMAKE
      run: |
        sudo apt install -y cmake
        cmake --version

    - name: Checkout SMAKE
      uses: actions/checkout@v3
      with:
        repository: 'kala13x/smake'
        submodules: recursive
        path: 'smake'

    - name: Install SMAKE
      run: |
        cd smake
        ./build.sh --install
        smake -h 

    - name: Build with SMAKE (SSL)
      run: |
        ./build.sh --tool=smake --tools --examples
        ./tools/xutils

    - name: Build with SMAKE (no SSL)
      run: |
        ./build.sh --tool=smake --tools --examples --ssl=no
        ./tools/xutils

    - name: Build with CMAKE (SSL)
      run: |
        ./build.sh --tool=cmake --tools --examples
        ./tools/build/xutils

    - name: Build with CMAKE (no SSL)
      run: |
        ./build.sh --tool=cmake --tools --examples --ssl=no
        ./tools/build/xutils

    - name: Build with Makefile (SSL)
      run: |
        ./build.sh --tool=make --tools --examples
        ./tools/xutils

    - name: Build with Makefile (no SSL)
      run: |
        ./build.sh --tool=make --tools --examples --ssl=no
        ./tools/xutils
